<div ng-include src="'partials/Navigation.html'"></div>
<div>
	<div class="row">
		<!--<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">-->
			<!--&lt;!&ndash;<a href="#/oneClickDiscount" class="btn btn-lg btn-warning btn-block otstyp-for-button">One CLick Discount</a>&ndash;&gt;-->
		<!--</div>-->
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<a href="#/courseFinder" class="btn btn-lg btn-warning btn-block otstyp-for-button">Find A Course</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<a href="#/fillYourFoursome" class="btn btn-lg btn-warning btn-block  otstyp-for-button">Create Invitation</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<a href="#/manageInvitations" class="btn btn-lg btn-warning btn-block  ">
                <span>Manage Invitations</span>
                <div class ="count-required-response"><h6 class="textsize"><b>{{countRequiredResponses}}</b></h6></div>
                <div class ="count-total-invitation "><h6 class="textsize"><b>{{countTotalInvitation}}</b></h6></div>
			</a>
             
		</div>
	</div>
	<div class="row">
		<div class="center-block">
			<h3>Invite your Buddies to Joins Social Putts TODAY!</h3>
			<div class="row social-buttons">
				<a class="btn btn-lg btn-primary" ng-click="inviteFbFriends($event)" href="#">Facebook</a>
				<a class="btn btn-lg btn-danger" href="mailto:?Subject=Invitation:Please be my Golf Buddy on SocialPutts!&body=Hi,
    %0D%0A%0APlease click the link below to accept by invitation to be my Golf Buddy on SocialPutts, the world's first Golf-specific Social Network.
    %0D%0A%0A 
        {{tinyUrl}}%0D%0A%0ASocialPutts allows us to:
    %0D%0A%0A
        - Fill our Foursome, get a Discount!
    %0D%0A%0A
        - Invite buddies, accept invitations, and book tee times EASILY.
    %0D%0A%0A
        - Find new golf buddies to play with more golfers like us!
    %0D%0A%0A
        - Play unique golf events, book tee times, post our scores and see how we stack up!
    %0D%0A%0A
        - Play golf more often and have more fun!%0D%0A%0A
    -   Web or Mobile app (Coming Soon!)
    %0D%0A%0A
        - All for FREE!%0D%0A%0AJoin me to be a part of the SocialPutts Golf Revolution!
    %0D%0A%0A 
        {{tinyUrl}}
    %0D%0A%0AYour Golf Buddy,
    %0D%0A%0A @ViewBag.UserName
    %0D%0A%0AFacebook: 
        https://www.facebook.com/SocialPutts
    %0D%0A%0ATwitter: 
        http://twitter.com/socialputts">Gmail</a>
				<a type="button" class="btn btn-lg btn-info" href="#" ng-click="inviteTwitterFriends($event)">Twitter</a>
			</div>
			
	        </div>
        </div>


        <div class="row" ng-controller="BuddiesCtrl">  
        <div class="messageHome">

            <div class="messageHomeForDirect">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
           <div class="green" style="font-weight: normal;font-size: 20px;color: #66AE64;" > Direct messages</div>
                </div>
                <div class="col-xs-6 col-sm-8 col-md-9 col-lg-10">
       <div class="unread-messages-count" ng-show=" countIncomingMessage > 0">
			<h6 class="textsize"><b>{{countIncomingMessage}}</b></h6>
		</div>	
                     </div>
                </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="buddies-container SkrolForBuddies" >
	        <div class="item row" ng-repeat="NewBuddy in countmessageAndBuddies" user-id="{{NewBuddy.buddyId}}">
		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
			<img ng-src="{{getAvatar(NewBuddy.buddy.email)}}" alt="Alternate Text" class="img-avatar">
		</div>
		<div class="is-online col-lg-1 col-md-1 col-sm-1 col-xs-1" ng-switch on="NewBuddy.buddy.isOnline">
			<div ng-switch-when="true">
				<img src="imgs/online.png">
			</div>
			<div ng-switch-when="false">
				<img src="imgs/offline.png">
			</div>
			
		</div>
		
		<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
			<a href="#/chat?userId={{NewBuddy.buddyId}}&firstName={{NewBuddy.buddy.firstName}}&lastName={{NewBuddy.buddy.lastName}}" class="buddy-name">{{NewBuddy.buddy.firstName}} {{NewBuddy.buddy.lastName}}</a>
		</div>
		<div class="unread-messages-count" ng-show="NewBuddy.count > 0">
			<h6 class="textsize"><b>{{NewBuddy.count}}</b></h6>
		</div>	

	</div>
</div>
                </div>
            </div>
        </div>
         </div>


		<div class="row">    
           <div class="newsfeed">
			    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 news-feed">
                    <h2 class ="green block-header">News feed</h2>
			    		    <textarea class="form-control" placeholder="Write Your Message Here..." id="news-feed-message"></textarea>
				    <input type="button" value="Post" class="btn btn-lg btn-success pull-left" ng-click="postMessageToNewsFeed()"/>
			    
                </div>
            </div>	
		</div>
			
             <div class="row">
                   <div class="conteiner-block">
                              <div ng-repeat="getPost in model.postAndNewsCollection" >
                                  <div ng-switch="daterminateLogo(getPost.body)" class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                                      <img ng-switch-when="SocialputtsLogo" ng-src="{{SP}}/Content/images/logo-short.png" alt="Alternate Text" class="avatar-block img-responsive">

                                      <img ng-switch-when="courseAvatar" ng-src="{{SP}}/Course/GetCourseImageMobile?courseId={{daterminateCourseId(getPost.body)}}" alt="Alternate Text" class="avatar-block img-responsive">
 
                                       <img ng-switch-default ng-src= "{{getAvatar(getPost.author.email)}}" alt="Alternate Text" class="avatar-block img-responsive">
                                  </div>

                               <div class ="col-xs-9  col-sm-10 col-md-11 col-lg-11 ">

                                   <div class ="col-xs-9  col-sm-10 col-md-11 col-lg-11  green">
                                       <b ng-show ="getPost.isCommon != true">{{getPost.author.firstName}}  {{getPost.author.lastName}}</b>

                                       <a ng-show ="isShowRemoveButton(getPost)"
                                          class="close remove-post" 
                                          ng-click="removePost(getPost.id)">x
                                        </a>
                                   </div>

                               <div class ="col-xs-9  col-sm-10 col-md-11 col-lg-11 otstyp" ng-hide="val">
                                   <div ng-bind-html-unsafe="getPost.body"></div>
                               </div>

                                <div class ="col-xs-12  col-sm-10 col-md-11 col-lg-11 editComment"  ng-hide="!val">
                                    <textarea class="form-control" ng-model="getPost.body"></textarea>                                        
                                    <input type="button" value="Save" class="add-comment-left btn  btn-success"  ng-click="editpost(getPost.body,getPost.id)" />
                                    <input type="button" value="Close" class="add-comment-left btn"  ng-click="val=false"/>
                                </div>

                                <div class ="col-xs-9  col-sm-10 col-md-11 col-lg-11 otstyp" >
                                    <h6><b>{{getPost.createdAt}} | 
                                    <a href ng-click="value = true">Comment</a> <span ng-hide="!checkingCurent(getPost.authorId)"> | <a href ng-click="val = true">Edit</a></span>  </b></h6>
                                </div>
                                   
                                 <div ng-repeat="comment in getPost.comments"  class="repeatComment">
                                             
                                         <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                                         <img ng-src="{{getAvatar(getPost)}}" alt="Alternate Text" class="avatar-block img-responsive">
                                         
                                        
                                         </div>
                                     
                                      <div class ="col-xs-9  col-sm-9 col-md-10 col-lg-10 otstyp">
                                          <div class ="col-xs-12  col-sm-9 col-md-10 col-lg-10 green">
                                          <b>{{comment.author.firstName}}  {{comment.author.lastName}} {{comment.lastName}}</b>
                                          <a class="close remove-post" ng-hide = "!checkingCurent(comment.authorId)" ng-click="removeComment(comment.id)">x</a>
                                           </div>
                               
                                          <div class ="col-xs-12  col-sm-9 col-md-10 col-lg-10 otstyp" ng-hide="valComment">
                                          <b>{{comment.body}}</b>
                                          </div>
                                          
                                          <div class="col-sm-12 col-xs-12 editComment" ng-hide="!valComment">
                                          <textarea class="form-control" ng-model="comment.body"></textarea>
                                          <input type="button" value="Save" class="add-comment-left btn  btn-success"  ng-click="editCommentforPost(comment.body,comment.id)"/>
                                          <input type="button" value="Close" class="add-comment-left btn"  ng-click="valComment=false"/>
                                          </div>


                                          <div class ="col-xs-12  col-sm-9 col-md-10 col-lg-10 otstyp">
                                          <h6><b>{{comment.createdAt}} <span ng-hide="!checkingCurent(comment.authorId)">| <a href ng-click="valComment = true">Edit</a></span> </b></h6>   
                                          </div>
                                        </div>
                                   </div>
                                    
                                        <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 add-comment" ng-hide="!value">
                                        <textarea class="form-control" placeholder="Add comment here..." ng-model="commentBody" ></textarea>
                                         <input type="button" value="Add comment" class="add-comment-left btn  btn-success"  ng-click="addComment(commentBody,getPost.id)"/>
                                        <input type="button" value="Close" class="add-comment-left btn"  ng-click="value=false"/>
                                        </div>
                                        
                                   </div>
                            </div>
                    </div>
			<div class="buttonPosition">
                <input type="button" class="btn  btn-success pull-left " id="previousButton" value="Previous" ng-click="previous()">	
               <div class="pageCount"><div class="textPageCount"> <h4>	 Page:{{numberPage}}/{{countPages}}</h4>	</div></div>
		        <input type="button" class="btn  btn-success btn-left" id="nextButton" value="Next"  ng-click="next()">
		    </div>
</div>
<!--    </div>-->

