<div ng-include src="'partials/Navigation.html'"></div>
<div>
	<div class="row">
		<h3 class="col-lg-offset-3">Find a Course</h3>
	</div>
	<div class="course-finder-form">
        <form action="/" method="post" class="form-horizontal" name="curse-finder" id="course-finder-form" novalidate>
            <div class="form-group">
				<label class="control-label col-lg-4">Course:</label>
				<div class="col-lg-4">
					<input type="text" class="form-control" id="course" name="CourseName" />
				</div>
            </div>
            <div class="form-group">
				<label class="control-label col-lg-4">City:</label>
				<div class="col-lg-4">
					<input type="text" class="form-control" id="city" name="City" />
				</div>
            </div>
			<div class="form-group">
				<label class="control-label col-lg-4">State:</label>
				<div class="col-lg-4"> 
					<div>
						<input type="text" class="form-control" ng-model="selected" typeahead="state.name for state in searchCourseModel.states | filter:$viewValue:startsWith">
					</div>
				</div>
            </div>
			<div class="form-group">
				<label class="control-label col-lg-4">Zip:</label>
				<div class="col-lg-4">
					<input type="text" class="form-control" id="zip" name="Zip" />
				</div>
            </div>
			<div class="form-group">
				<label class="control-label col-lg-4">Country:</label>
				<div class="col-lg-4">
					<select id="country" class="form-control" name="CountryId" disabled="disabled">
                        <option  ng-repeat="country in searchCourseModel.countries" value="{{country.id}}">{{country.name}} </option>
					</select>
				</div>
            </div>
			
			<div class="form-group">
				<label class="control-label col-lg-4">Within:</label>
				<div class="col-lg-4">
					<select class="form-control" id="within" name="Mileage">
						<option value="0">None</option>
						<option value="15">15 miles</option>
						<option value="30">30 miles</option>
						<option value="50">50 miles</option>
						<option value="75">75 miles</option>
					</select>
				</div>
            </div>
			<div class="form-group">
				<label class="col-lg-4 control-label"># of Holes:</label>
				<div class="col-lg-4">
					<label>
						<input type="radio" name="NumberOfHoles" checked="checked" value="0"/> All
					</label>
					<label>
						<input type="radio" name="NumberOfHoles" value="18"/> 18 holes
					</label>
					<label>
						<input type="radio" name="NumberOfHoles" value="9"/> 9 holes
					</label>
				</div>
            </div>
		</form>
		<div class="row col-lg-6 col-md-12 col-sm-12 col-xs-12 col-lg-offset-3 pre-scrollable favorite-container">
			<div ng-repeat="favCourse in favCourses" style="height: 55px;">
				<div class="pull-left col-lg-8 col-md-7 col-sm-10 col-xs-10">
					{{favCourse.courseName}}
				</div>
				<div class="pull-right col-lg-4">
					<a href="#" class="btn  btn-default" ng-show="!favCourse.isAdded" ng-click="addToSearch($event, favCourse.id)">Add To Search</a>
					<a href="#" class="btn  btn-default" ng-hide="!favCourse.isAdded" ng-click="removeFromSearch($event, favCourse.id)">Remove from Search</a>
				</div>
			</div>
		
		</div>
		
		<div class="col-lg-offset-4 col-lg-10">
				<a href="#" class="btn btn-success btn-lg col-lg-offset-1" ng-click="searchCourse($event)">Search Course</a>
			</div>
	</div>
</div>

