<div ng-include src="'partials/Navigation.html'"></div>
<div>
	<div class="row pre-scrollable searched-course-result">
		<table class="table">
							<thead>
								<tr>
									<th>
										Add to Favorite
									</th>
									<th>
										Course Name
									</th>
									<th style="text-align:center;">
										Foursome Discount (%)
									</th>
									<th>
									</th>
								</tr>
							</thead>
							<tbody ng-repeat="course in coursesOnMap" class="searchlist">
								<tr>
									<td>
										<a href="#" class="addToFavsIcon" courseId="{{course.id}}" ng-click="addToFavorite($event)" ng-show="course.isNotFavorite" title="Add to Favorite" />
									</td>
									<td>
										<a class="big-href" ng-click="mapRoute(course)">{{course.combinedNameAndMileage}}
										</a>
									</td>
									<td style="text-align: center;">
										<label>{{course.combinedDiscountAndText}}
										</label>
									</td>
									<td style="text-align: center;">
										<a href="#/fillYourFoursome?courseId={{course.id}}" class="btn btn-default select">Select</a>
									</td>
								</tr>
							</tbody>
						</table>
	</div>
	<div class="row">
		<div id="map"></div>
	</div>
	
	<div class="popup" style="display:none;">
		<div class="popup-info">
			<div class="course-name">
				<h4>{{popupInfo.courseName}}</h4>
			</div>
			<div class="course-info">
				<div class="image pull-left">
					<img src="{{SP}}/api/Course/GetCourseImage?courseId={{popupInfo.id}}" /> 
				</div>
				<div class="info pull-right">
					<div>Type: <span>{{popupInfo.courseType}}<span></div>
					<div>Phone: <span>{{popupInfo.phone}}</span></div>
					<div>Address: <span>{{popupInfo.address}}</span></div>
				</div>
			</div>
			<div>
				<button ng-click="addToFavorite($event)"  courseId="{{popupInfo.id}}" ng-show="!popupInfo.isFavourite" class="btn btn-warning list-as-fav">List as Favorite</button>
				<button ng-click="removeFromFavorite($event)"  courseId="{{popupInfo.id}}" ng-show="popupInfo.isFavourite" class="btn btn-warning not-fav">Not a Favorite</button>
			</div>
		</div>
		
	</div>
</div>

