<div ng-include src="'partials/Navigation.html'"></div>
<div ng-controller="MainCtrl">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{Hello}}</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<input type="button" class="btn btn-lg btn-warning btn-block dashboard-btns" value="One CLick Discount" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<input type="button" class="btn btn-lg btn-warning btn-block dashboard-btns" value="Find A Course" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<input type="button" class="btn btn-lg btn-warning btn-block dashboard-btns" value="Fill Your Foursome" />
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<input type="button" class="btn btn-lg btn-warning btn-block dashboard-btns" value="Manage Invitations" />
		</div>
	</div>

	<ul>
	  <li ng-repeat="invitation in invitations">{{invitation.name}}</li>
	</ul>
</div>