<div ng-include src="'partials/Navigation.html'"></div>
<div ng-controller="MainCtrl">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{Hello}}</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<a href="#/oneClickDiscount" class="btn btn-lg btn-warning btn-block dashboard-btns">One CLick Discount</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<a href="#/courseFinder" class="btn btn-lg btn-warning btn-block dashboard-btns">Find A Course</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<a href="#/fillYourFoursome" class="btn btn-lg btn-warning btn-block dashboard-btns">Fill Your Foursome</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<a href="#/manageInvitations" class="btn btn-lg btn-warning btn-block dashboard-btns">Manage Invitations</a>
		</div>
	</div>
	<div class="row">
		<div class="center-block">
			<h3>Invite your Buddies to Joins SocialpPutts TODAY!</h3>
			<div class="row social-buttons">
				<input type="button" class="btn btn-lg btn-primary" value="Facebook" />
				<input type="button" class="btn btn-lg btn-danger" value="Gmail" />
				<input type="button" class="btn btn-lg btn-info" value="Twitter" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 news-feed">
				<textarea class="form-control" placeholder="Write Your Message Here..."></textarea>
				<input type="button" value="Post" class="btn btn-lg btn-success pull-left" />
			</div>
		</div>
	</div>

	<ul>
	  <li ng-repeat="invitation in invitations">{{invitation.name}}</li>
	</ul>
</div>