<div class="sign-in-container" ng-controller="MainCtrl">
    <div class="sign-in-form">
        <form action="/" method="post" id="sign-in-form">
            <div>
                <input type="text" id="username" name="username" placeholder="email" />
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="password" />
            </div>
    <div>
        <input type="submit" value="log in" />
    </div>
    </form>
</div>
<div class="sign-in-error-message">
    <div>
        The username and/or password you entered are incorrect.
    </div>
    <div>
        Please try again. (Make sure your caps lock is off.)
    </div>
    <div class="forgot-password">
        <span class="fogot-password">Forgot your password?</span>
        
    </div>
</div>
</div>
