body{
	padding-top: 70px;
}

.page-container{
	max-width: 100%;
	margin: 0 auto;
}
footer {
    min-height: 50px;
    clear: both;
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
    border-color: #75A975;
    padding: 20px;
}

section#content {
    padding-bottom: 150px;
    overflow: visible;
}

#head {
	width: 100%;
}
.divider{
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

.dashboard-btns{
	margin-bottom: 5%;
	line-height: 40px;
}

.center-block{
	display:block;
	margin: 0 auto;
	text-align:center;
}
.social-buttons{
	margin-bottom: 20px;
}
.news-feed{
	margin-bottom: 20px;
}
.news-feed textarea{
	margin-bottom: 20px;
}

#map{
	width:100%;
	height: 300px;
}

.addToFavsIcon{
	background-image: url('../imgs/favorite.png');
	display: block;
	width: 32px;
	height: 45px;
}
.favorite-container, .searched-course-result{
	margin-bottom: 30px;
}

/*Fill Your Foursome page ================================================================================== */
h2.green 
{
    font-weight: normal;
    font-size: 20px;
    color: #66AE64;
}

.mode-container {
    width: 265px;
    float: right; 
}

.mode-container input 
{    
    margin-left: 10px;
}

.create-invitation-form .control-label .pt0
{    
    padding-top: 0! important;
}

.create-invitation-form .checkbox{
 
    margin-right: 20px;
}

.is-active-golfer {
    width: 40%;
}

.w24pers {
    width: 24%;
}

.w43pers {
    width: 43%;
}

.checkbox-group .checkbox span
{
    float: none;
    white-space: nowrap;
}

.checkbox-group .checkbox 
{
    float: left;   
    cursor: pointer;
}

.checkbox-group .first 
{
    padding-left: 0;
}

.form-group .controls 
{
    width: 35% !important; 
}

 .group-select   {
    padding-left: 0;
    padding-right: 0px;
    margin-left: 20px;
    width: 30.5%;
}

#invt-pending {
    
}
 
/*Fill Your Foursome end-page ================================================================================== */