body
{
	padding-top: 70px;
}

.page-container
{
	max-width: 100%;
	margin: 0 auto;
}

footer 
{
    min-height: 50px;
    clear: both;
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
    border-color: #75A975;
    padding: 20px;
}

section#content 
{
    padding-bottom: 150px;
    overflow: visible;
}

#head 
{
	width: 100%;
}

.divider
{
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

.dashboard-btns
{
	margin-bottom: 5%;
	line-height: 40px;
}

.center-block
{
	display:block;
	margin: 0 auto;
	text-align:center;
}
.social-buttons
{
	margin-bottom: 20px;
}

.news-feed
{
	margin-bottom: 20px;
}

.news-feed textarea
{
	margin-bottom: 20px;
}

#map
{
	width:100%;
	height: 300px;
}

.addToFavsIcon
{
	background-image: url('../imgs/favorite.png');
	display: block;
	width: 32px;
	height: 45px;
}

.favorite-container, .searched-course-result
{
	margin-bottom: 30px;
}

/*Fill Your Foursome page ================================================================================== */
h2.green 
{
    font-weight: normal;
    font-size: 20px;
    color: #66AE64;
}

.mode-container 
{
    float: right; 
}

.mode-container input 
{    
    margin-left: 10px;
}

.create-invitation-form .control-label .pt0
{    
    padding-top: 0! important;
}

.create-invitation-form .checkbox
{ 
    margin-right: 20px;
} 

.checkbox-group .checkbox span
{
    float: none;
    white-space: nowrap;
}

.checkbox-group .checkbox 
{
    float: left;   
    cursor: pointer;
}

.checkbox-group .first 
{
    padding: 0;
}

.form-group .controls 
{
    width: auto !important; 
}

 .group-select   
 {
    padding-left: 0;
    padding-right: 0px; 
    width: 100%;
}

#invt-pending 
{
    
}

#indent-select-buddies 
{
    width: 20.5%;
}

#indent-create-invitation 
{
    width: 18.7%;
}

#indent-golfer-match 
{
    width: 18.7%;
}

#indent-select-buddies-topic 
{
    width: 19.5%;
}

#indent-save-pref-btn
{
    width: 24.3%;
}

.disabled-section{
	background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.8;
}

.buddy
{
	overflow:hidden;
	margin-bottom: 10px;
}

.avatar
{
	max-width:55px;
	margin-right: 3px;
}

img.small-avatar
{
	min-width: 40px;
	min-height: 40px;
	max-width: 60px;
	max-height: 60px;
	border-style: solid;
	border-color: #D1E7D1;
	border-color: #53a753;
	border-width: 1px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.buddy .name
{
	/*width: 59%;*/
    margin-left: 3%;
}

#buddies-list{
	border: 2px solid #ccc;
	padding: 2%;
}
.include-golfers{
	color:green;
}

.asterisk{
	color:red;
	font-size: 20px;
	line-height: 2em;
}

.course-finder{
	margin-bottom: 1em;
}

/*Fill Your Foursome end-page ================================================================================== */

/*Buddies styles*/
.buddies-container .item{
	margin-bottom: 5%;
}

.buddy-name{
	font-size: 1.5em;
}

.unread-messages-count {
	float:left;
	background: red;
	border-radius: 15px;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 16px;
	color: white;
}

.buddies-container .img-avatar{
	width: 100%;
	min-width: 60px;
	max-width: 80px;
}

/*Buddies end* --------------------------------------------------------------------------------------------------------/


/*Chat styles*/
.opposit{
	margin-bottom:5%;
}
.message{
	margin-bottom:5%;
	padding-right: 5%;
}
.text-message-field{
	margin-top:5%;
}
.send-control{
	margin-top: 1%;
}

/*Chat end ----------------------------------------------------------------------------------------------------------------*/

/*Invite Buddies*/
.invite-buddies-container{
	overflow: hidden;
	padding: 5%;
	border: 1px solid green;
	border-radius: 10px;
	margin-top:5%;
}
.send-email-message{
	color:green;
	margin-bottom: 5%;
}
.container{
	overflow:hidden;
}
.remove-button{
	margin-top:-35px;
}
.buddy-info{
	margin-bottom:5%;
}
.input-validation-error {
	border-color: #CC0000;
}
/*Invite Buddies end --------------------------------------------------------------------------------------------------------*/

/*Favorite Course*/
.favorite-courses h2{
	color:green;
}
.course-item{
	margin-bottom:3%;
	overflow:hidden;
}
/*Favorite Course end ---------------------------------------------------------------------------------------------------------*/

/*Course Result*/
.popup-info .course-name{
	color:green;
}
.popup-info .course-info{
	overflow:hidden;
	margin-bottom:10px;
}
.popup-info .course-info .info div{
	font-size:16px;
	color:gray;
	font-weight:bold;
}
.popup-info .course-info .info div span{
	color:green;
	font-size:16px;
}
.popup-info .image{
	width:20%;
}
.popup-info .image img{
	width:100%;
}

/*Course Result end ---------------------------------------------------------------------------------------------------------*/

/* Manage Invitations ---------------------------------------------------------------------------------------------------------*/

.invitation-item 
{    
    margin: 10px  0px 30px 10px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 15px 0px;
}

.invintatio-time 
{
    font-size: 13px;
    line-height: 18px;
    color: #404040;
}

 
.invitation-buttons
{
    padding-right: 0px;
} 

.img-avatar-invintation
{
    width: 70px;
    height: 70px;
}

#manage-responses-content{
	border: 1px solid #ccc;
	margin-top: 30px;
}

#manage-responses-content .block-header 
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D1E7D1;
    margin-bottom: 15px;
}
 
#manage-responses-content .arrow-right
 {
    background-image: url(http://socialputts.com/Content/images/dashboard-collapse/arrow_right.png);
   height: 13px;
    width: 8px; 
    cursor: pointer; 
 }

#manage-responses-content .arrow-down
 {
    background-image: url(http://socialputts.com/Content/images/dashboard-collapse/arrow_down.png);
   height: 8px;
    width: 13px; 
    cursor: pointer; 
 }


.active-manage-invitation{
	background-color:#fff;
	border: 1px solid #ccc;
}
.confirm-user-item {
	overflow: hidden;
	margin-bottom: 5px;
}
.confirm-control{
	text-align: center;
}
/* Manage Invitations end ---------------------------------------------------------------------------------------------------------*/


/* Invitation Details */
.invitation-details-container{
	margin-left: 5%;
}
.invitation-detail, .participants{
	overflow: hidden;
}
/* Invitation Details end --------------------------------------------------------------------------------------------------------- */

/* Settings page -------------------------------------------------------------------------------------------------------------- */
.tabs{
	margin-top: 20px;
}
.tabs ul{
	list-style: none;
	color: gray;
	border-bottom: 1px green solid;
	padding:0;
}
.tabs ul li{
	display: inline-block;
	line-height: 25px;
	margin-right: 5%;
	font-weight: bold;
	padding:5px;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
}
.tabs ul li.active-menu-link{
	background-color: green;
	color: white;
}
.tabs ul li.menu-link:hover{
	background-color: lightgray;
}
.basic-info{
	margin:0 auto;
	width:80%;
}
.green{
	color:green;
}

.favorite-list{
	overflow: hidden;
}

.favorite-list .item{
	margin-bottom: 30px;
}
/* Settings page end --------------------------------------------------------------------------------------------------------- */